body {
  margin: 5vh 20vw;
  background-color: black;
  color: white;
}

.background-image-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  background-image: url(fan.jpg);
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;

  filter: brightness(0.4) blur(2px) contrast(150%);
}
.content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 5vh 20vw;
  z-index: 9999;
}

.title,
.sub-title {
  margin: 0 0 20px;
  font-weight: bold;
  text-align: center;
}

.title {
  margin: 0 0 15px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.section {
  margin: 50px 0;
}

.upload-inputs > * {
  margin: 15px 0;
}

/* utility */
.display-none {
  display: none !important;
}

.text-align-center {
  text-align: center !important;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
